  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Trang chủ</a>
      <a class="navbar-brand" href="/lists/chi-tiet">Danh sách môn học</a>
      <a class="navbar-brand" href="/me/stored-lists">Danh sách môn học đã đăng ký</a>
      <a class="navbar-brand" href="/lists/create">Thêm môn học</a>
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hà Hiếu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="courses/create">Đăng khoá học</a>
            <a class="dropdown-item" href="/me/storedCourses">Khoá học của tôi</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/logout">Đăng xuất</a>
            <a class="dropdown-item" href="/me/exit">Thoát</a>
          </div>
        </li>
        
      </ul>
      
    </div>
    </div>

  </nav>